@font-face {
    font-family: "Inter";
    src: url("./components/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}
:root{
    --bg: #e0eff3;
    --fr: #050508;
    --back: #505099;
}

body{
    background-color: var(--bg);
    color: var(--fr);
    font-family: "Inter", sans-serif 

}

.header{
    margin: 1vw;
    height: 10rem;
    background:
        linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url("./components/imgs/bohunice.jpg");
    background-repeat:no-repeat;
    background-position: center center;
}  
.headerText{
    text-align: center;
    color: black;
    font-size: 4rem;
    text-shadow: rgb(225, 241, 247) 2px 2px;
    padding: 2vw;
}
.headerText > p {
    font-size: 1.1rem;
    text-shadow: none;
    color: white;
} 
.content{
    margin: 0 15vw;
}
.drb{
    /* background-color: var(--back); */
    border: 1px var(--fr) solid;
    margin: 1vw;
    padding: 0.4vw;
    border-radius: 1vw;
}
.drb:hover{
    background-color: var(--back);
}