@font-face {
    font-family: "Inter";
    src: url("./components/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}


body{
    background-color: rgb(22, 21, 32);
    color: rgb(224, 239, 243);
    font-family: "Inter", sans-serif 
}



.header{
    margin: 1vw;
    height: 10rem;
    background-image: url("./components/imgs/bohunice.jpg");
    background-repeat:no-repeat;
    background-position: center center;
}  
.headerText{
    text-align: center;
    color: black;
    font-size: 4rem;
    text-shadow: rgb(225, 241, 247) 2px 2px;
    padding: 2vw;
}
.headerText > p {
    font-size: 1.1rem;
    text-shadow: none;
    color: white;
} 
.content{
    margin: 0 15vw;
}